.DS_Store
.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.cache/
.matplotlib-cache/

# Large/local datasets
data/
ClockData
ClockData_256
Pitt/
HC22/
HCAP/
test/
train/
Hc22hp_r.csv
hc22_dd.pdf
HCAP_columns.rtf
data.csv

# Output Files
output_performance/